﻿<!DOCTYPE html>
<html lang="en">
    <base href="~/">
    <head>
        <meta charset="utf-8" />
        <title>CFA Job Counter</title>
        <link rel="stylesheet" type="text/css" href="/styles/global.css"/>
    </head>
    <body>
        @RenderBody()
    </body>
</html>