﻿div {
    align-items:    center;
    display:        flex;
    flex-direction: column;
    left:           50%;
    position:       absolute;
    top:            50%;
    transform:      translate(-50%, -50%);
}

h1 {
    font-family: 'Arial';
    font-size:   28pt;
}
