﻿@page "{PageDestination}"
@model IndexModel

<link rel="stylesheet" type="text/css" href="@(nameof(PagerParser)).styles.css"/>

<script type="text/javascript">
    window.onload = () => {
        var refreshInterval = @Html.Raw(Model.RefreshInterval);
        if(refreshInterval != 0) {
            setTimeout(() => window.location.reload(), refreshInterval * 1000);
        }
    }
</script>

<div>
    <h1>@Model.TotalJobs</h1>
</div>
